.container {
  display: flex;
  flex-direction: column;
}

.emptyState {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.emptyIcon {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loadingTrigger {
  padding: 20px;
  text-align: center;
  min-height: 60px;
}
