.search {
  margin-bottom: 31px;
}

.search-icon {
  color: var(--mui-palette-divider);
}

.input-description {
  margin-bottom: 16px;
}

.account-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.account-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 40px;
  background: var(--hover-background-color);
  border: 1px solid var(--mui-palette-divider);
  border-radius: 4px;
}

.account-icon-wrapper {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 24px;
}

.providers-wrapper {
  overflow: auto;
  height: 320px;
}

.provider {
  display: flex;
  background: var(--mui-palette-background-default);
  align-items: center;
  height: 64px;
  border: 1px solid var(--mui-palette-divider);
  border-radius: 4px;
  margin-right: 8px;
  padding: 0 32px 0 18px;
  cursor: pointer;
}

.provider:hover {
  background: var(--mui-palette-action-hover);
}

.provider + .provider {
  margin-top: 16px;
}

.emptySearchStatus {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
