.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  overflow-y: scroll;
}

.type {
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

.type:hover {
  background-color: var(--mui-palette-action-hover);
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.inputLabel {
  margin-bottom: 8px;
}

.inputDescription {
  margin-bottom: 32px;
  margin-top: 8px;
}

.button {
  margin-left: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
