.container {
  border: 1px solid var(--mui-palette-divider);
  border-radius: 6px;
}

.content {
  padding: 32px;
}

.title {
  margin-bottom: 32px;
}

.subtitle {
  margin-bottom: 24px;
}

.inputTitle {
  margin-bottom: 8px;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--mui-palette-divider);
}

.select {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .content {
    padding: 24px;
  }

  .container {
    border: none;
    width: 100%;
  }

  .title {
    margin-bottom: 24px;
  }
}
