.header {
  display: flex;
  gap: 20px;
}

.headerContent {
  display: flex;
  width: 100%;
  max-width: 500px;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--mui-palette-divider);
}

.headerAvatar {
  width: 120px;
  height: 120px;
  border: 1px solid var(--mui-palette-divider);
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerRole,
.headerRoleWrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  border-radius: 12px;
  flex-shrink: 0;
  background: var(--hover-background-color);
  padding: 2px;
}

.roleText {
  margin-right: 6px;
}

.headerButtons {
  display: flex;
  gap: 10px;
}

.buttonIcon {
  width: 24px;
  height: 24px;
}

.descriptionContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 20px;
  border: 1px solid var(--mui-palette-divider);
}

.descriptionHeader {
  display: flex;
  align-items: center;
}

.descriptionText {
  word-break: break-word;
}

@media screen and (max-width: 767px) {
  .header {
    display: block;
  }

  .headerContent {
    max-width: unset;
  }

  .descriptionContent {
    margin-top: 20px;
  }
}

@media screen and (max-width: 440px) {
  .headerRoleWrapper {
    display: block;
  }
}
