.addInfoContent {
  overflow: auto;
  padding: 20px;
  border: 1px solid var(--mui-palette-divider);
}

.addInfoItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.link {
  display: inline;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.1s ease-in-out;
  max-width: 300px;
}

.link:hover {
  cursor: pointer;
  color: var(--mui-palette-primary-main);
  text-decoration: underline;
}

.buttonCopy {
  padding: 4px;
  margin-left: 6px;
}

.iconCopy {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--mui-palette-divider);
  margin-bottom: 20px;
}

.providers {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.providerIcon {
  width: 28px;
  height: 28px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 12px;
  flex-shrink: 0;
  background: var(--mui-palette-action-hover);
  padding: 8px;
}
