.wrapper {
  height: calc(100vh - 120px);
  overflow-y: scroll;
  padding: 12px;
}

.provider {
  cursor: pointer;
  margin-bottom: 16px;
  transition: background-color 0.4s ease-in-out;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.provider:hover {
  background-color: var(--mui-palette-action-hover);
}

.providerIcon {
  border-radius: 8px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background: var(--mui-palette-action-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  border: 1px solid var(--mui-palette-divider);
  background-size: cover;
  background-repeat: no-repeat;
}
