.popover {
  max-width: 290px !important;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  color: #666;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  background-color: #efefef;
}

.closeButton:hover {
  filter: brightness(90%);
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountImage {
  width: 60px;
  height: 60px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.accountImageDefault {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.section {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sectionText {
  font-size: 12px;
  margin: 0 10px;
  color: #e0e0e0;
  white-space: nowrap;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.text {
  margin: 0;
}

.menuWrapper {
  width: 100%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
