@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  width: 100%;
  margin: 64px auto 12px;
  padding: 16px 24px;
  background-color: #fff;
  min-height: 400px;
  border-radius: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  animation: fadeInUp 0.6s forwards;
  flex: 1;
}

@media (max-width: 440px) {
  .container {
    margin: 0 auto;
    padding: 86px 24px 16px;
  }
}