:root {
    --content-position: center;
}

.text-12 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.text-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.text-17 {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.text-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.text-15-medium {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.text-20-medium {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.title-medium {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.asterisk::after {
    content: "*";
    color: red;
    padding-left: 6px;
}

.page-container {
    width: 100%;
    display: flex;
    place-content: var(--content-position);
}

.content {
    padding: 32px 32px 48px;
    width: 100%;
    max-width: 1032px;
    height: 100%;
}

.content_max {
    max-width: 1280px;
}

@media screen and (max-width: 425px) {
    .content {
        padding: 32px 16px 16px;
    }
}
