.invite {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.inviteHeader {
  display: flex;
  align-items: center;
  gap: 12px 18px;
  flex-wrap: wrap;
}

.clientIcon {
  border-radius: 6px;
}

.inviteText {
  display: inline-block;
}

.hideText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  display: inline;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.1s ease-in-out;
}