.md-header {
	background-color: #ffffff;
	border-bottom: 1px solid #e7e8ec;
	box-shadow: none;
}

.md-header__inner {
	width: 100%;
	margin: 0;
	padding: 8px 24px;
	max-width: 100%;
}

.md-header__topic:first-child {
	font-weight: 500;
	font-size: 20px;
}

.md-ellipsis {
	color: #0b1641;
}

.md-header__button.md-logo {
	padding: 0;
}

.md-search__form {
	border-radius: 10px;
	border: 1px solid #e7e8ec;
	background-color: #ffffff;
	transition: all 0.4s ease;

	svg {
		color: #858ba0;
	}
}

.md-search__form:hover {
	background-color: #f5f6f8;
}

.md-search__input::placeholder {
	color: #858ba0;
}

svg {
	color: #0b1641;
}
