@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

.footer {
  text-align: center;
  opacity: 0;
  animation: fadeInUp 0.6s forwards;
}

.text {
  font-size: 12px;
}

.divider {
  height: 1px;
  background-color: var(--mui-palette-divider);
  margin-left: -8%;
  width: 116%;
  margin-bottom: 8px;
}

@media (max-width: 440px) {
  .divider {
    width: 150%;
    margin-left: -25%;
  }
}