@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

.toggles {
  display: flex;
  width: 100%;
  padding: 4px;
  border-radius: 20px;
  background-color: var(--mui-palette-background-paper);
  gap: 8px;
}

.toggleNotActive {
  box-shadow: none;
  background-color: transparent;
}

.additionText {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

.actions {
  display: flex;
  width: 100%;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
}

.listProviders {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemProvider {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  padding: 4px 12px 4px 4px;
  border-radius: 20px;
  transition: background-color 0.2s ease;
  background-color: var(--mui-palette-background-paper);
}

.itemProvider:hover {
  background-color: var(--mui-palette-action-hover);
}
