.card {
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--mui-palette-background-paper);
  padding: 16px;
  border-radius: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.card:hover {
  background: var(--mui-palette-action-hover);
}

.button {
  margin-left: auto;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}