.wrapper {
  position: relative;
  display: flex;
}

.colorPicker {
  position: absolute;
  bottom: 0;
  padding: 24px;
  background: var(--mui-palette-background-paper);
  border: 1px solid var(--mui-palette-divider);
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.06), 0px 1px 2px rgba(0, 0, 0, 0.1),
  0px 3px 7px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  width: fit-content;
}

.colorBox {
  cursor: pointer;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--mui-palette-divider);
}

.textField {
  margin-left: 24px;
}

.colorPicker .textField {
  margin-left: auto;
}
