.panel-top {
  display: flex;
  padding: 32px 32px 32px 0;
  align-items: center;
}

.name-wrapper {
  margin-left: 32px;
  width: calc(100% - 120px);
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-icon-wrapper {
  flex-shrink: 0;
  border: 1px solid var(--mui-palette-divider);
  border-radius: 50%;
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.app-icon-default {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mui-palette-background-default);
  background-color: #f89f33;
  font-size: 30px;
  text-transform: uppercase;
  padding: 12px;
}

.panel {
  padding: 24px 32px 16px 32px;
  border: 1px solid var(--mui-palette-divider);
  margin-bottom: 32px;
}

.panelTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 16px;
}

.margin-right {
  margin-right: 32px;
}

.info-item {
  display: flex;
  min-height: 64px;
  align-items: center;
  max-height: 128px;
}

.info-item + .info-item {
  border-top: 1px solid var(--mui-palette-divider);
}

.flex-wrap {
  display: flex;
  flex-flow: nowrap;
  width: 100%;
}

.info-item-title {
  width: 250px;
}

.info-item-value {
  min-width: 105px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  width: 48px;
  height: 48px;
  border: 1px solid #ced0d9;
}

.avatar svg {
  height: 32px;
  width: 32px;
}

.avatar ellipse,
.avatar path {
  background: var(--mui-palette-background-default);
}

.accordion {
  margin-bottom: 32px !important;
  padding: 0;
  box-shadow: none;
}

.accordion::before {
  display: none;
}

.accordion-summary {
  padding: 32px;
}

.accordion-summary:hover {
  background: var(--mui-palette-action-hover);
}

.accordion-summary-content {
  margin: 0 !important;
}

.accordion-summary:active {
  background: var(--mui-palette-action-hover);
}

.accordion-details {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.margin-bottom {
  margin-bottom: 32px;
}

.user-icon-wrapper {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background: var(--mui-palette-divider);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mui-palette-divider);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  margin-right: auto;
}

.justify {
  padding: 24px 32px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.actions {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1023px) {
  .panel-top {
    padding: 24px 0;
  }

  .flex-wrap {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 767px) {
  .panel-top {
    padding: 0 0 16px;
  }

  .panel {
    margin-bottom: 24px;
    padding: 16px 24px;
  }

  .margin-right {
    margin-right: 16px;
  }

  .info-item-title {
    min-width: 150px;
    max-width: 150px;
  }

  .justify {
    padding-right: 16px;
  }

  .accordion {
    margin-bottom: 24px !important;
    padding: 0;
    box-shadow: none;
  }

  .accordion-summary {
    padding: 16px;
  }

  .margin-bottom {
    margin-bottom: 16px;
  }

  .accordion-details {
    padding-left: 14px;
  }
}

@media screen and (max-width: 540px) {
  .panel {
    padding: 16px 12px;
  }
}
