.accordion::before {
  display: none;
}

.accordionSummary {
  padding: 16px 24px;
}

.accordionSummaryContent {
  margin: 0 !important;
}

.accordionContentCompact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accordionDetails {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.button {
  white-space: nowrap;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 8px;
  margin-bottom: 24px;
}
