.card {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--mui-palette-divider);
  transition: background-color 0.4s ease-in-out;
}

.cardAction:hover {
  cursor: pointer;
  background: var(--mui-palette-background-hover);
}

.cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: var(--mui-palette-background-default);
  border: 1px solid var(--mui-palette-divider);
  flex-shrink: 0;
  overflow: hidden;
}

.cardImageCircle {
  border-radius: 50%;
}

.cardImageSquare {
  border-radius: 10px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.cardImageWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .card {
    padding: 12px;
  }
}
