.item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid var(--mui-palette-divider);
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

.item:hover {
  background-color: var(--mui-palette-background-hover);
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
