@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0;
  animation: fadeInUp 0.6s forwards;
  padding: 10px 36px;
}

.logo {
  position: absolute;
  top: -66px;
  left: calc(50% - 33px);
  padding: 12px;
  width: 66px;
  height: 66px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--mui-palette-background-default);
}

.logoIcon {
  width: 42px;
  height: 42px;
}

.title {
  text-align: center;
  font-size: 20px;
  line-height: 125%;
  font-weight: 500;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.headerButtonLeft {
  position: absolute;
  top: 6px;
  left: 0;
}

.headerButtonRight {
  position: absolute;
  top: 6px;
  right: 0;
}

.button {
  width: 36px;
  height: 36px;
}

.icon {
  width: 20px;
  height: 20px;
}

.listLocales {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.itemLocale {
  padding: 4px;
  background-color: var(--mui-palette-background-paper);
  border-radius: 4px;
  transition: background-color 0.4s ease-out;
}

.itemLocale:hover {
  background-color: var(--mui-palette-action-hover);
}
