.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: var(--mui-palette-background-default);
  border-top: 1px solid var(--mui-palette-divider);
}

.footerContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 32px;
}

.link {
  color: var(--mui-palette-text-secondary);
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .footer {
    place-content: initial;
  }

  .footerContainer {
    gap: 8px;
    padding: 8px 32px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    display: none;
  }
}
