.listItem {
  border: 1px solid var(--mui-palette-divider);
  padding: 12px 20px 12px 24px;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

.listItem:hover {
  background-color: var(--mui-palette-action-hover);
}

.listItem:not(:last-child) {
  margin-bottom: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: column;
}
