.switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button {
  margin: 0 8px;
}

.qrcodeImage {
  width: 200px;
  height: 200px;
}
