.container {
  width: 100%;
}

.fieldWrapper {
  margin: 16px 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.switchWrapper {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.selectWrapper {
  max-width: 350px;
  margin: 4px 0;
}

.buttonWrapper {
  width: 100%;
  text-align: end;
}

.saveButton {
  margin-left: auto;
}
