.container {
  width: 100%;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--mui-palette-divider);
  border-radius: 4px;
  padding: 12px 20px 12px 24px;
}

.containerHover {
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

.containerHover:hover {
  background: var(--mui-palette-background-hover);
}

.header {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  align-items: center;
  fill: var(--mui-palette-text-secondary);
  height: 20px;
}

.title {
  font-size: 14px;
  margin-bottom: 4px;
}

.text {
  font-size: 12px;
}
