.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  margin-top: 8px;
}

.fieldHover {
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

.fieldHover:hover {
  background-color: var(--mui-palette-action-hover);
}

.header {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  align-items: center;
  fill: var(--mui-palette-text-secondary);
  height: 20px;
}

.title {
  font-size: 14px;
  margin-bottom: 4px;
}

.text {
  font-size: 12px;
}
