.container {
  border: 1px solid var(--mui-palette-divider);
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-bottom: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rulesList {
  margin: 0;
  padding-left: 16px;
}

@media screen and (max-width: 540px) {
  .container {
    padding: 16px 12px;
  }
}
