.panel {
  padding: 24px 24px 16px;
  border: 1px solid var(--mui-palette-divider);
  margin-bottom: 32px;
}

.panelTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 16px;
}

.panel:last-child {
  margin-bottom: 0;
}

.avatarContainer {
  width: 48px;
  height: 48px;
  border: 1px solid var(--mui-palette-divider);
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .panel {
    margin-bottom: 24px;
    padding: 16px 24px;
  }
}

@media screen and (max-width: 540px) {
  .panel {
    padding: 16px 12px;
  }
}
