.section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E2E1E5;
}

@media (max-width: 440px) {
  .section {
    display: block;
    background-image: none;
    background-color: var(--mui-palette-background-default);
  }
}